@model RNDReports
@{
    ViewBag.Title = "Reports";
}

<div class="panel-heading">R&D Reports</div>
<div class="panel-body">
    <div id="searchDiv" class="container">
        <div class="col-md-3 pull-right">
            <button id="btnBack" onclick="window.history.back();" class="btn btn-primary btn-large"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        </div>     
        <form action="ExportToExcel" method="post">  
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblWorkStudyID" class="cols-sm-2 control-label">Work Study Number</label>
                        <div class="cols-sm-10">
                            @Html.DropDownList("ddlWorkStudyID", ViewBag.ddlWorkStudyID as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblTestType" class="cols-sm-2 control-label">Test Type</label>
                        <div class="cols-sm-10">
                            @Html.DropDownList("ddTestType", ViewBag.ddTestType as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="searchFromDate" class="cols-sm-2 control-label">From Date</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="text" id="searchFromDate" name="searchFromDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="searchToDate" class="cols-sm-2 control-label">To Date</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="text" id="searchToDate" name="searchToDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="lblStudyDesc" class="col-md-3 control-label">Study Desciption</label>
                <div class="cols-sm-10">
                    @*<span class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></span>*@
                    <input type="text" value="@Model.StudyDesc" id="StudyDesc" name="StudyDesc" class="form-control" placeholder="Enter Study Description"/>
                    <input type="hidden" name="StudyDesc" id="StudyDesc" value="@Model.StudyDesc"/>
                </div>
            </div>

            <div class="row">                
                <div class="col-md-3 pull-right">
                    <button id="btnPrint" class="btn btn-info btn-large"><i class="fa fa-print" aria-hidden="true"></i>Print</button>
                </div>
                <div class="col-md-3 pull-right">
                    <button id="btnSelectPrint" class="btn btn-info btn-large"><i class="fa fa-print" aria-hidden="true"></i>Export to Excel</button>
                </div>
            </div>       
        </form>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="cols-sm-2 control-label"></label>
                    <div class="cols-sm-10">
                        <button id="btnSearch" class="btn btn-primary btn-large"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        &nbsp;&nbsp;&nbsp;
                        <button id="btnClear" class="btn btn-primary btn-large"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Repeater", "ReportsRepeater");}
</div>

@section scripts{
    @Scripts.Render("~/bundles/Reports")
<script>
    $(document).ready(function () {
        LoadGrid("ReportsRepeater");
    });
</script>
}