@model RNDSystems.Models.RNDProcessing

@{
    ViewBag.Title = "SaveProcessingMaterial";
}

<div class="panel-heading">Processing Material</div>
<div class="panel-body">
    <div class="container">  
        <div class="row" style="height:10px">
        </div>       
        <div class="row">
            <div class="col-md-3 pull-right">
                <button id="btnBack" onclick="window.history.back();" class="btn btn-primary btn-large"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
            </div>
        </div>
        @using (Html.BeginForm("SaveProcessingMaterial", "ProcessingMaterial", FormMethod.Post, new { id = "SaveProcessingMaterial" }))
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblWorkStudyID" style="color:mediumblue; text-decoration:underline; font-size:medium" class="cols-sm-2 control-label">R&D Study Number</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.WorkStudyID" id="WorkStudyNumber" name="WorkStudyNumber" class="form-control" placeholder="Enter Work Study Number" disabled />
                                <input type="hidden" name="WorkStudyID" id="WorkStudyID" value="@Model.WorkStudyID" />
                                <input type="hidden" name="RecId" id="RecId" value="@Model.RecID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblMillLotNo" class="cols-sm-2 control-label">Mill Lot ID</label>
                        <div class="cols-sm-10">                             
                                @Html.DropDownList("MillLotNo", ViewBag.ddlMillLotNo as IEnumerable<SelectListItem>,Model.RecID>0? (object) new  { @class = "form-control disabled show-tick ", @disabled =true } : new { @class = "show-tick form-control" })
                            <input type="hidden" name="MillLotNo" id="MillLotNo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblHole" class="cols-sm-2 control-label">Hole</label>
                        <div class="cols-sm-10">
                            @Html.DropDownList("Hole", ViewBag.ddlHole as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblPieceNo" class="cols-sm-2 control-label">Piece No</label>
                        <div class="cols-sm-10">
                            @Html.DropDownList("PieceNo", ViewBag.ddlPieceNo as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblFinalTemper" class="cols-sm-2 control-label">Final Temper</label>
                        <div class="cols-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.FinalTemper" id="FinalTemper" name="FinalTemper" class="form-control" placeholder="Enter Final Temper" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
             <div class="row">          
                <label for="SolutionHeatTreat" style="color:mediumblue; text-decoration:underline; font-size:medium" class="cols-sm-2 control-label">Solution Heat Treat</label>
            </div>
           
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblSHTTemp" class="cols-sm-2 control-label">SHT Temp(F)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.SHTTemp" id="SHTTemp" name="SHTTemp" class="form-control" placeholder="Enter SHT Temp(F)" />
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="form-group">
                    <label for="lblSHTSoakTime" class="cols-sm-1 control-label">SH Soak Time</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.SHSoakHrs" id="SHSoakHrs" name="SHSoakHrs" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.SHSoakMns" id="SHSoakMns" name="SHSoakMns" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>              
            </div>
            <div class="row">                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="lblSHTStartTime" class="cols-sm-2 control-label">SHT Start Time</label>
                        <div class="cols-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                @Html.DropDownList("SHTStartHrs", ViewBag.ddSHTStartHours as IEnumerable<SelectListItem>, new { @class = "show-tick" })                               
                                @Html.DropDownList("SHTStartMns", ViewBag.ddSHTStartMinutes as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblSHTDate" class="cols-sm-2 control-label">SHT Start Date</label>
                        <div class="cols-sm-10">
                            <div class="input-group date">
                                <input type="text" id="SHTDate" value="@Model.SHTDate" name="SHTDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>                
            <div class="row">
                    <label for="Stretch" style="color:mediumblue; text-decoration:underline; font-size:medium" class="cols-sm-2 control-label">Stretch</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblStretchPct" class="cols-sm-2 control-label">% Stretch</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.StretchPct" id="StretchPct" name="StretchPct" class="form-control" placeholder="Enter % Stretch Temp(F)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTimeAfterSHT" class="cols-sm-1 control-label">Time After SHT</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.AfterSHTHrs" id="AfterSHTHrs" name="AfterSHTHrs" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.AfterSHTMns" id="AfterSHTMns" name="AfterSHTMns" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <label for="NaturalAge" style="color:mediumblue; text-decoration:underline; font-size:medium" class="cols-sm-2 control-label">Natural Age</label>
            </div>           
            <div class="row">

                <div class="form-group">
                    <label for="lblNatAgeTime" class="cols-sm-1 control-label">Natural Aging Time</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.NatAgingHrs" id="NatAgingHrs" name="NatAgingHrs" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.NatAgingMns" id="NatAgingMns" name="NatAgingMns" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>
                @*<div class="col-md-2">
                    <div class="form-group">
                        <label for="lblAgeTime3" class="cols-sm-1 control-label">Natural Aging Time </label>
                        <div class="cols-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.NatAgingHrs" id="NatAgingHrs" name="NatAgingHrs" class="form-control" placeholder="Hrs" />
                                <input type="text" value="@Model.NatAgingMns" id="NatAgingMns" name="NatAgingMns" class="form-control" placeholder="Mns" />
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>   

            <div class="row">
                <label for="ArtificialAge"  style="color:mediumblue; text-decoration:underline; font-size:medium" class="cols-sm-2 control-label">Artificial Age</label>
            </div>
            //start here
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="lblArtStartTime" class="cols-sm-2 control-label">ArtAge StartTime</label>
                        <div class="cols-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                @Html.DropDownList("ArtStartHrs", ViewBag.ddArtStartHours as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                                @Html.DropDownList("ArtStartMns", ViewBag.ddArtStartMinutes as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblArtAgeDate" class="cols-sm-2 control-label">Art Age Date</label>
                        <div class="cols-sm-10">
                            <div class="input-group date">
                                <input type="text" id="ArtAgeDate" value="@Model.ArtAgeDate" name="ArtAgeDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            //ends here

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblArtAgeTemp1" class="cols-sm-2 control-label">Age Temperature 1(F)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.ArtAgeTemp1" id="ArtAgeTemp1" name="ArtAgeTemp1" class="form-control" placeholder="Enter Age Temp1(F)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblAgeTime1" class="cols-sm-1 control-label">Age Time 1</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.ArtAgeHrs1" id="ArtAgeHrs1" name="ArtAgeHrs1" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.ArtAgeMns1" id="ArtAgeMns1" name="ArtAgeMns1" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblArtAgeTemp2" class="cols-sm-2 control-label">Age Temperature 2(F)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.ArtAgeTemp2" id="ArtAgeTemp2" name="ArtAgeTemp2" class="form-control" placeholder="Enter Age Temp2(F)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblAgeTime2" class="cols-sm-1 control-label">Age Time 2</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.ArtAgeHrs2" id="ArtAgeHrs2" name="ArtAgeHrs2" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.ArtAgeMns2" id="ArtAgeMns2" name="ArtAgeMns2" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblArtAgeTemp3" class="cols-sm-2 control-label">Age Temperature 3(F)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.ArtAgeTemp3" id="ArtAgeTemp3" name="ArtAgeTemp3" class="form-control" placeholder="Enter Age Temp3(F)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblAgeTime3" class="cols-sm-1 control-label">Age Time 3</label>
                    <div class="cols-sm-1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.ArtAgeHrs3" id="ArtAgeHrs3" name="ArtAgeHrs3" class="form-control" placeholder="Hrs" />
                            <input type="text" value="@Model.ArtAgeMns3" id="ArtAgeMns3" name="ArtAgeMns3" class="form-control" placeholder="Mns" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                         <label for="TargetCount" class="cols-sm-2 control-label">Target Counts</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.TargetCount" id="TargetCount" name="TargetCount" class="form-control" placeholder="Enter Target Counts" />
                                <input type="hidden" name="TargetCount" id="TargetCount" value="@Model.TargetCount" />
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>
                    <div class="row">*@
                <div class="col-md-3">
                    <div class="form-group">
                         <label for="ActualCount" class="cols-sm-2 control-label">Actual Counts</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                                <input type="text" value="@Model.ActualCount" id="ActualCount" name="ActualCount" class="form-control" placeholder="Enter Actual Counts" />
                                <input type="hidden" name="ActualCount" id="ActualCount" value="@Model.ActualCount" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lblRCS" class="cols-sm-2 control-label">RCS</label>
                        <div class="cols-sm-10">
                            @Html.DropDownList("RCS", ViewBag.ddlRCS as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                        </div>
                    </div>
                </div>                
            </div>*@
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <button id="btnBack" onclick="window.history.back();" class="btn btn-danger btn-large"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                        <button type="submit" id="btnSave" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>Save</button>
                        @*<button type="button" id="btnContinue" class="btn btn-warning"><i class="fa fa-clipboard" aria-hidden="true"></i>Continue</button>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    @section scripts{
        @Scripts.Render("~/bundles/SaveProcessingMaterial")    
    }
